@page "/tramiteid"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteConsultaPorId cduConsultaPorId
<div class="opciones">
<h1>Consultar por ID de tramite</h1>
<p>Ingrese el ID del tramite que desea consultar con su ID de expediente</p>
<input placeholder="IdExp" @bind="_idExp" class="form-control">
<input placeholder="IdTramite" @bind="_idTramite" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
</div>
@if ((_tramite.Id != 0) && (_ok))
{
    <h3>Tramite con ID @_idTramite del expediente @_idExp</h3>
    <table class="tabla-tramites">
        <thead>
        <th>ID</th>
        <th>Contenido</th>
        <th>Etiqueta</th>
        <th>Fecha de creación</th>
        <th>Fecha de modificación</th>
        </thead>
        <tbody>
            <tr>
                <td>@_tramite.Id</td>
                <td>@_tramite.Contenido</td>
                <td>@_tramite.EtiquetaTramite</td>
                <td>@_tramite.FechaHoraCreacion</td>
                <td>@_tramite.FechaHoraMod</td>
            </tr>
        </tbody>
    </table>
}
@if (!_ok)
{
    <h3>@_s</h3>
}

@code {
    int? _idTramite;
    int? _idExp;
    Tramite _tramite = new Tramite();
    bool _ok = true;
    string? _s = "";
    void Aceptar()
    {
        try
        {
            if (_idTramite != null && _idExp != null)
            {
                _tramite = cduConsultaPorId.Ejecutar(_idTramite.Value, _idExp.Value);
                _ok = true;
            }
            else
            {
                _ok = false;
                _s= "Ninguno de los campos puede estar vacio";
            }
        }
        catch
        {
            _ok = false;
            _s = "No se encontraron tramites con el ID introducido";
        }
    }
}