@page "/expedientes"
@rendermode InteractiveServer
@inject CasoDeUsoExpedienteConsultaTodos ConsultaDeExpedientes
@inject CasoDeUsoExpedienteBaja BajaExpediente
@inject CasoDeUsoUsuarioObtener ObtenerUsuario
@inject CasoDeUsoConsultaPorIdExpediente ConsultaIdExp
<h1>Lista de Expedientes</h1>

Estos son los expedientes de la base de datos
<br/>
<table class="tabla-expedientes">
    <thead>
        <th>ID</th>
        <th>ID de usuario</th>
        <th>Tramites</th>
        <th>Fecha de creación</th>
    <th>Fecha de modificación</th>
    <th>Estado</th>
    <th>Editar expediente</th>
        <th>Eliminar?</th>
    </thead>
    <tbody>
    @foreach (var expediente in _expedientes)
    {
    <tr>
        <td>@expediente.Id</td>
        <td>@expediente.IdUser</td>
        <td><a href="/expediente/@expediente.Id/tramites">Ver</a></td>
        <td>@expediente.FechaHoraCreacion</td>
        <td>@expediente.FechaHoraModificacion</td>
        <td>@expediente.Estado</td>
        <td><a href="/expediente/@expediente.Id/"><button class="btn btn-primary">Editar</button></a></td>
        <td><button class="btn btn-primary" @onclick="()=>Mostrar(expediente.Id)">Eliminar</button></td>
    </tr>
    }
    </tbody>
</table>

<style>
    .tabla-expedientes {
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
    }

    .tabla-expedientes th {
        background-color: #6c7ae0;
        color: white;
        font-weight: bold;
        padding: 0.5rem;
    }

    .tabla-expedientes td {
        padding: 0.5rem;

    }
    .tabla-expedientes tr:nth-child(even) td {
        background-color: #f2f2f2;
    }
</style>
<DialogoConfirmacion @ref=_dialogo Mensaje="Esto eliminara el expediente y todos sus tramites, ¿Estas seguro?" Accion=Eliminar />
<DialogoNotificacion @ref=_dialogoNotificacion Mensaje=@_error Accion=Eliminar />
@code{

    List<Expediente> _expedientes = new List<Expediente>();
    DialogoNotificacion _dialogoNotificacion = null!;
    DialogoConfirmacion? _dialogo = null!;
    int _expedienteId = 0;
    String _error = "";
    protected override void OnInitialized()
    {
        {
            _expedientes = ConsultaDeExpedientes.Ejecutar();
        }
    }

    void Mostrar(int Id)
    {
        _expedienteId = Id;
        _dialogo!.Mostrar();

    }
    void Eliminar()
    {
        try
        {

            BajaExpediente.Ejecutar(ConsultaIdExp.Ejecutar(_expedienteId), ObtenerUsuario.Ejecutar()!);
            _expedientes = ConsultaDeExpedientes.Ejecutar();
        }
        catch (Exception e)
        {
            _error = e.Message;
            _dialogoNotificacion.Mostrar();
        }

    }

}